.language-selector > .meta-bind-plugin-select-input-wrapper {
    display: flex;
    flex-direction: row; 
  }
  
  .meta-bind-plugin-select-input-bg {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: var(--code-background);
  }
  
  .language-selector .meta-bind-plugin-select-input-element-selected,
  .language-selector .meta-bind-plugin-select-input-element  {
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 0px !important;
    flex: 0 1 auto; 
    min-width: 100px;
  
  }
  
  .language-selector .meta-bind-plugin-select-input-element-selected {
    background-color: var(--code-background) !important; /* */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .language-css,
  .language-javascript,
  .language-python {
     display: none;
  }
  
  .css .language-css,
  .python .language-python,
  .javascript .language-javascript {
    display: block;
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }